footer{
    min-height: 50vh;
    background: #1C3041;
    /* background: rgb(125,84,240);
    background: linear-gradient(86deg, rgba(125,84,240,1) 55%, rgba(103,44,235,1) 95%); */
    display: flex;
    align-items: center;
}

footer h3{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
}

footer ul li{
    list-style: none;
    font-size: 1.5rem;
    padding: .5rem 0;
}

footer a{
    text-decoration: none;
    color: white;
}

footer img{
    height: 65px;
    max-width: 60%;
}

footer p{
    max-width: 70%;
    text-align: center;
    margin-top: 2rem;
}
