
.contact--form{
    min-height: 100vh;
    background: linear-gradient(86deg, rgba(125,84,240,1) 55%, rgba(103,44,235,1) 95%);
    font-size: 2rem;
}


.contact--form h2{
    font-size: 4rem;
    font-weight: 600;
}

.contact--form p{
    font-size: 1.6rem;

}


.form-control{
    padding: 1rem 3.8rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.failure-icon,
.success-icon {
    right: 0;
    opacity: 0;
}

.failure-icon, .error{
    color: red;
}

.success-icon{
    color: green;
}

.error {
    font-size: 14.5px;
    margin-top: 5px;
}



form div i {
    position: absolute;
    top: 59%;
    color: #7D54F0;
    left: 2%;
}

form div {
    position: relative;
}



#query{
    height: 140px;
}

.contact--form .btn{
    background: #1C3041;
    border-radius: 8px;
    border-style: none;
    
}

@media screen and (max-width: 768px) {
    .contact-con{
        margin-top: 2rem;
    }
}

